<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>コードの設定変更</title>
    <style>
        #sidebar {
        float:right;
        text-align: left;
        background-color: gray;
        color:black;
        width:30%;
        height: 90%;
      }
      #content {
        float:left;
        width:65%;
      }
      #header {
        float:top;
        text-align: center;
        height: 10%;
      }
      tt {
        background-color: black;
        color: white;
      }
    </style>
</head>
<body>
<div id="header">
    <h2>コードの設定変更</h2>
</div>
<div id="content">
    <p>コードの設定変更を適用します。</p>
    <h2>{{ script }}</h2>
    <p>{{ script_field }}</p>
    <tt>{{ re }}</tt>
</div>
<div id="sidebar">
    <h2>リンク</h2>
    <a href="help.html"><p>Help</p></a>
    <a href="/mine/query"><p>Query</p></a>
    <a href="/mine/line"><p>URL変換</p></a>
    <a href="/accounts/login"><p>ログイン</p></a>
    <a href="/accounts/logout"><p>ログアウト</p></a>
    <a href="/mine/script"><p>スクリプトの実行</p></a>
    <a href="/mine/code"><p>コードの設定</p></a>
    <h2>状態</h2>
    <p>ログインしているユーザー:{{ user_name }}</p>
</div>
</body>