<!DOCTYPE html>
<html lang="ja">
<head>  
    <meta charset="utf-8"/>
    <title>設定</title>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link href="/static/style.css" rel="stylesheet">
    <style>
        #box5{
            border: 1px solid #333;
            padding:10px;
            background: #f2f2f2;
            display: inline-block;
            font-weight: bold;
            transition: .10s;
            margin: 10px;
        }
        #box5:hover{
            background: #26D0C9;
        }
        h3 {
        border-bottom: 2px solid #dee7ec;
        }
    </style>
</head>
<body>
{% include "header.html" %}
<div id="content" style="
    font-family: 'YuGothB.ttc';
    float:left;
    background-color: black;
    color: white;
    font-size: 12px;
    position:absolute;
    top:80px;
    right:420px;
    left:10px;
    opacity: 0.9; 
    padding:10px;
    ">
    <form method="post" action="{% url 'submit6' %}">
    {% csrf_token %}
    <h3>Code config</h3>
    <div class="input-group" style="width:300px;margin: 10px;"><span class="input-group-text" id="basic-addon1">Name</span><input id="box1" type="text" value="{{ name }}" name="name" class="form-control"></div>
    <div class="input-group" style="width:300px;margin: 10px;"><span class="input-group-text" id="basic-addon1">Code</span><input id="box2" type="text" value="{{ code }}" name="code" class="form-control"></div>
    <div class="input-group" style="width:300px;margin: 10px;"><span class="input-group-text" id="basic-addon1">Interval</span><input id="box4" type="text" value="{{ inter }}" name="inter" class="form-control"></div>
    <input class="btn btn-primary" type="submit" value="Save" style="margin: 10px;">
    </form>
{{ debug }}
</div>
{% include "sidebar.html" %}
<script>
document.getElementById("box1").focus();
</script>
</bod