
<!DOCTYPE html>
<html lang="ja">
<head>  
    <meta charset="utf-8"/>
    <title>設定</title>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link href="/static/style.css" rel="stylesheet">
    <style>
        h3 {
        border-bottom: 2px solid #dee7ec;
        }
    </style>
</head>
{% include "header.html" %}
<div id="content" style="
font-family: 'Avenir Next';
float:left;
background-color: black;
color: white;
font-size: 12px;
position:absolute;
top:80px;
right:420px;
left:10px;
opacity: 0.9; 
">
    <form method="post" action="{% url 'submit2' %}">
    {% csrf_token %}
    <h2 style="font-size:25px;">Server config</h2>
    <div class="input-group" style="width:300px;margin: 10px;"></div>
    <h3 style="font-size:20px;">Server Overview</h3>
    <div class="input-group" style="width:300px;margin: 10px;"><span class="input-group-text" id="basic-addon1">Server Name</span><input id="box1" type="text" value="{{ name }}" name="name"></div>
    <h3 style="font-size:20px;">Server Data</h3>
    <div class="input-group" style="width:300px;margin: 10px;"><span class="input-group-text" id="basic-addon1">Server IP:</span><input id="box2" type="text" value="{{ ip }}" name="ip"></div>
    <div class="input-group" style="width:300px;margin: 10px;"><span class="input-group-text" id="basic-addon1">Server Query Port:</span><input id="box3" type="text" value="{{ qport }}" name="qport"></div>
    
    <div class="input-group" style="width:300px;margin: 10px;"><span class="input-group-text" id="basic-addon1">Server Rcon Port:</span><input id="box4" type="text" value="{{ rport }}" name="rport"></div>
    
    <div class="input-group" style="width:300px;margin: 10px;">
    <span class="input-group-text" id="basic-addon1">Password</span><input id="box4" type="password" value="{{ passw }}" name="passw" class="form-control">
    </div>
    
    <input class="btn btn-primary" type="submit" value="Save" style="margin: 10px;">
    </form>
{{ debug }}
</div>
{% include "sidebar.html" %}
<script>
document.getElementById("box1").focus();
</script>
</body>