{% load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">    
    <link href="/static/style.css" rel="stylesheet">
    <meta charset="utf-8"/>
    <title>コンソールクライアント</title>
</head>
<body>
<div id="header">
  <dev id="header-logo"><h2><a href="/mine/" style="color:white;">Home</a></h2></dev>
<dev id="header-list">
<a href="/mine/profile" style="color:white;">{{ request.user }}</a> / 
<a href="/accounts/logout" style="color:white;">ログアウト</a>

</div>
<div id="content">
    <ul>
    <form method="post" action="{% url 'submit' %}">
    {% csrf_token %}
    <p>Command:<input id="box" type="text" value="" name="command" style="background-color: black;color:white;font-family: 'Press Start 2P';"></p>
    </form>
    {% if latest_question_list %}
    {% for question in latest_question_list %}
      {% if question.q_flag %}
        <li>>>> {{ question.command_text }}</li>
        {% for question in question.return_text %}
          {{ question }}<br>
        {% endfor %}
      {% else %}
        <li>>>> {{ question.command_text }}</li>{{ question.return_text | safe }}<br><br>-- {{ question.time }}<br><br>
      {% endif %}
    {% endfor %}
    </ul>
  {% else %}
    <p>まだログがないようです。</p>
{% endif %}

</div>
{% include "sidebar.html" %}
<script>
document.getElementById("box").focus();
</script>
</body>