
<!DOCTYPE html>
<html lang="ja">
<head>  
    <meta charset="utf-8"/>
    <title>HelpPage</title>
    <style>
    #sidebar {
        float:right;
        text-align: left;
        background-color: gray;
        color:black;
        width:30%;
        height: 90%;
      }
      #content {
        float:left;
        width:65%;
        font-size: 12px;
      }
      #header {
        float:top;
        text-align: center;
        height: 10%;
      }
    </style>
</head>
<body>
<div id="header">
    <h2>HelpPage</h2>
</div>
<div id="content">
    <h3>へるぷぺぇじ</h3>
{{ debug }}
</div>
<div id="sidebar">
    <h2>リンク</h2>
    <a href="/mine/help"><p>Help</p></a>
    <a href="/mine/query"><p>Query </p></a>
    <a href="/mine/line"><p>URL変換</p></a>
    <a href="/accounts/login"><p>ログイン</p></a>
    <a href="/accounts/logout"><p>ログアウト</p></a>
    <a href="/mine/script"><p>スクリプトの実行</p></a>
    <a href="/mine/code"><p>コードの設定</p></a>
    <a href="/mine/console"><p>コンソールクライアント</p></a>
    <h2>状態</h2>
    <p>ログインしているユーザー:{{ user_name }}</p>
</div>
<script>
document.getElementById("box1").focus();
</script>
</body>