<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>URL変換</title>
    <style>
        #sidebar {
        float:right;
        text-align: left;
        background-color: gray;
        color:black;
        width:30%;
        height: 90%;
      }
      #content {
        float:left;
        width:65%;
      }
      #header {
        float:top;
        text-align: center;
        height: 10%;
      }
    </style>
</head>
<body>
<div id="header">
    <h2>URL変換</h2>
</div>
<div id="content">
    <p>URLを変換してリダイレクトさせます。</p>
    <form id="form1" action="#">
        <input type="text" id="input-message">
        <input type="button" onclick="showMessage()" value="送信">
      </form>
      <p id="output-message"></p>
      <p style="color:red;">注意:送信する際はenterではなくボタンを押してください</p>
      <script language="javascript" type="text/javascript">
        const showMessage = () => {
          const textbox = document.getElementById("input-message");
          let inputValue = textbox.value;
          //inputValue = inputValue.split("/");
          //inputValue = inputValue.join("");
          inputValue = inputValue.split(" ");
          inputValue = inputValue.join("/");
          inputValue = "/mine/com"+inputValue
          //inputValue = "test.html";
          const output = "" + inputValue + "にリダイレクトします";
          document.getElementById("output-message").innerHTML = output;
          location.href=inputValue;
        }
      </script>
</div>
<div id="sidebar">
    <h2>リンク</h2>
    <a href="help.html"><p>Help</p></a>
    <a href="query"><p>Query</p></a>
    <a href="/mine/line"><p>URL変換</p></a>
</div>
</body>