{% load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>DjangoMicraft!</title>
    <link href="/static/style.css" rel="stylesheet">
    <style>
    h1 {
        border-bottom: 2px solid gray;
    }
    #h2 {
        font-size:20px;
    }
    #h1 {
        font-size:30px;
    }
    </style>
</head>
<body>
{% include "header.html" %}
<div id="content" style="padding:10px;" class="container mt-5">
    <div class="text-center mb-5">
        <h1 class="display-5 mb-5">DjnagoMinecraftRcon</h1>
        <p class="text-muted fs-5">DjangoからMinecraftを制御します。</p>
    </div>
    <h1 id="h1">機能</h1>
    <h2 id="h2">コンソール</h2>
    <p> /をつけて入力でコマンドを実行します。
    /をつけないとチャットになります。</p>
    <h2 id="h2">Query</h2>
    <p> Queryを飛ばします。</p>
    <h2 id="h2">Config</h2>
    <p> サーバーの設定を保存します。</p>
    <h1 id="h1">Licence</h1>
    <p>Created by <a href="https://github.com/ocean0801" style="color:black;">ocean0801</a></p>
    <p>Use MoonsApps,Google.com,Bootstrap</p>
</div>
</body>