<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>プロフィール</title>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link href="/static/style.css" rel="stylesheet">
</head>
{% include "header.html" %}
<div id="content" style="
    font-family: 'YuGothB.ttc';
    float:left;
    background-color: black;
    color: white;
    font-size: 12px;
    position:absolute;
    top:80px;
    right:420px;
    left:10px;
    opacity: 1.0;
    padding:10px;
  ">
    <p>サーバーへようこそ！{{ user_name }}。</p>
    <p>紐付けされているConfig:</p>
    <h2>{{ config_name }}</h2>
    <p>サーバーのIP:{{ ip }}</p>
    <p>RCONクライアントのポート番号:{{ rcon_port }}</p>
    <p>QUERYクライアントのポート番号:{{ query_port }}</p>
    <span onmouseover="this.innerText='{{ passw }}'" onmouseout="this.innerText='マウスを載せてパスワードを表示'">マウスを載せてパスワードを表示</span>

</div>
{% include "sidebar.html" %}
</body>