<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>Query</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
{% include "header.html" %}
<div id="content" style="padding:10px;">
      <h2 style="font-size:20px;">結果</h2>
      <table class="table">
        <thead class="table-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">名前</th>
            <th scope="col">値</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>IP</td>
            <td>{{ ip }}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Port</td>
            <td>{{ port }}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Players</td>
            <td>{{ player }}  ({{ num }}/{{ num_max }})</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Session-id</td>
            <td>{{ session }}</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>motd</td>
            <td>{{ host }}</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Ver.</td>
            <td>{{ version }}</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Map</td>
            <td>{{ map }}</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Seed</td>
            <td>{{ seed }}</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Server-port</td>
            <td>{{ port }}</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Server-ip</td>
            <td>{{ ip_host }}</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-outline-primary" type="submit" onclick="window.location.reload()">再送信</button>
</div>
</body>