
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>スクリプト選択</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
<div id="header">
    <h2>スクリプト選択</h2>
</div>
<div id="content">
    {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/mine/script/{{ question.id }}/">{{ question.script_name }}</a>:<p>{{ question.script }}</p></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>Code</p>
{% endif %}
{{ debug }}
</div>
<div id="sidebar">
  <h2>リンク</h2>
  <a href="/mine/help"><p>Help</p></a>
  <a href="/mine/query"><p>Query </p></a>
  <a href="/mine/script"><p>スクリプトの実行</p></a>
  <a href="/mine/config"><p>コードの設定</p></a>
  <a href="/mine/console"><p>コンソールクライアント</p></a>
</div>
</body>