<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>スクリプト実行</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
<div id="header">
    <h2>スクリプト実行</h2>
</div>
<div id="content">
    <p>サイトに書かれているスクリプトを実行します</p>
    <h2>{{ script }}</h2>
    <p>{{ script_field }}</p>
    <tt>{{ re }}</tt>
</div>
<div id="sidebar">
  <h2>リンク</h2>
  <a href="/mine/help"><p>Help</p></a>
  <a href="/mine/query"><p>Query </p></a>
  <a href="/mine/script"><p>スクリプトの実行</p></a>
  <a href="/mine/config"><p>コードの設定</p></a>
  <a href="/mine/console"><p>コンソールクライアント</p></a>
</div>
</body>