<br><span style='color:#FFFF55;'>--------- <br><span style='color:#FFFFFF;'>Help: Index (1/10) <br><span style='color:#FFFF55;'>--------------------
<br><span style='color:#AAAAAA;'>Use /help [n] to get page n of help.
<br><span style='color:#FFAA00;'>Aliases: <br><span style='color:#FFFFFF;'>Lists command aliases
<br><span style='color:#FFAA00;'>Bukkit: <br><span style='color:#FFFFFF;'>All commands for Bukkit
<br><span style='color:#FFAA00;'>Minecraft: <br><span style='color:#FFFFFF;'>All commands for Minecraft
<br><span style='color:#FFAA00;'>/advancement: <br><span style='color:#FFFFFF;'>A Mojang provided command.
<br><span style='color:#FFAA00;'>/attribute: <br><span style='color:#FFFFFF;'>A Mojang provided command.
<br><span style='color:#FFAA00;'>/ban: <br><span style='color:#FFFFFF;'>A Mojang provided command.
<br><span style='color:#FFAA00;'>/ban-ip: <br><span style='color:#FFFFFF;'>A Mojang provided command.
<br><span style='color:#FFAA00;'>/banlist: <br><span style='color:#FFFFFF;'>A Mojang provided command.</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>