<html lang="ja">
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="header">
    <h2>HelpPage</h2>
</div>
<div id="content">
    <h1>ヘルプ</h1>
    <h2>使い方</h2>
    <h3>コマンドの書き方</h3>
    <p>アドレスにMinecraftのコマンドを入れます。スペースを"/"として入力してください。</p>
    <h3>Queryでサーバーの情報を取得する</h3>
    <p>"mine/query"とアドレスバーに入力するとサーバーの状況が知ることができます。</p>
    <p>リンクはサイドバーにもあります。</p>
</div>
<div id="sidebar">
    <h2>リンク</h2>
    <a href="help.html"><p>Help</p></a>
    <a href="/mine/query"><p>Query</p></a>
    <a href="/mine/line"><p>URL変換</p></a>
    <a href="/accounts/login"><p>ログイン</p></a>
    <a href="/accounts/logout"><p>ログアウト</p></a>
    <a href="/mine/script"><p>スクリプトの実行</p></a>
    <a href="/mine/code"><p>コードの設定</p></a>
</div>
</body>