#sidebar {
        float:right;
        text-align: left;
        background-color: gray;
        color:black;
        width:30%;
        height: 90%;
      }
      #content {
        float:left;
        width:65%;
      }
      #header {
        float:top;
        text-align: center;
        height: 10%;
      }